html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.header{ background-color: #7e7e7e;
    width: 100%;
    height: 10%;
    position: static;
}
.article{
	background-color: plum;
	margin : auto;
	width : 60%;
}
.article div{
	background-color: coral;
	margin: 5%;
}
.nav{
	position : absolute;
	top : 16%;
	left : 1%;
	background-color: #e9ebee;
	width : 18%;
	height : 100%;
}
.arrow{
	position : fixed;
	right : 10px;
	bottom : 10px;
}
.logo{
	float : left;
	margin : 1%;
}
.div{
	font-size : 18px;
	background-color: coral;
	margin: 5%;
}
.summary{
	display : inline;
	color : blue;
}
.details{
	padding : 30px;
	border : 1px solid black;
}
.question{
	padding : 10px;
	border : 1px solid black;
}
.question li{
	margin-bottom : 10px;
}
.input{
	text-align : center;
}
.below li{
	display : inline-block;
	margin-right : 5%;
	margin-left : 5%;
}
.inputblock{
	float : left;
}
.button{
	float : right;
}
.content{
	transform : scale(1,1);
	transition : all 0.5s ease-in-out;
	position : relative;
	left : 20%;
	display : inline-block;
	padding : 30px;
	padding-top : 40px;
	padding-bottom : 40px;
	border : 5px solid red;
	border-radius : 50px;
}
.content:hover{
	background-color : white;
	transform : scale(1.3,1.3);
	cursor : pointer;
}
.map{
	text-align : center;
	transform : scale(1,1);
	transition : all 0.5s ease-in-out;
}
.map:hover{
	transform : scale(2,2);
}
