/*header*/
.header{
    background-color: #a06e64;
    height: 100px;
    width: 100%;
    padding: 50px 0 20px;
    display: inline-flex;
}
.header #logo{
    width: 250px;
    height: 100px;
}
.header input{
    width: 600px;
    height: 30px;
    background-color: transparent;
    border-color: #abcc8f;
    border-style: solid;
    border-width: 3px;
    padding: 8px;
    font-size: 20px;
    color: #1b1b1b;
}
.search_form{
    padding-top: 15px;
    padding-left: 20px;
}
.search_div{
    display: flex;
    z-index: 3;
}
.search_div button{
    background-color: #abcc8f;
    border-color: #abcc8f;
    border-style: none;
    height: 52px;
    width: 52px;
}
.search_div img{
    height: 20px;
    width: 20px;
}
/*nav*/
.nav{
    background-color: #cc8739;
    height: 55px;
    width: 100%;
    padding: 3px 0 3px;
    display: inline-flex;
}
.nav ul{
    display: inline-flex;
    font-size: 17px;
    font-weight:bold;
}
.nav li{
    padding: 5px 25px 5px 5px;
}
#more_nav_btn{
    cursor: pointer;
}
#more_nav_btn img{
    margin-left: 15px;
    width: 10px;
    height: 10px;
}
#more_nav{
    display: none;
    background-color: thistle;
    height: 500px;
    width: 100%;
    position: absolute;
    padding: 5px 0 5px 130px;
}

/*section_article*/
.section_aside{
    padding: 15px 0 15px 0;
    display: inline-flex;
}
/*section*/
.section{
    background-color: #008181;
    padding: 5px;
    margin: 10px;
    width: 750px;
    /*height: 1000px;*/
}
/*article*/
.article{
    background-color: #b5cc62;
    border: 1px solid #7b8688;
    padding-bottom: 15px;
    width: 750px;
}
.heading{
    background-color: #80cc47;
    padding: 10px 10px 10px 30px;
    border: 0 solid #7b8688;
    border-bottom-width: 1px;
}
.heading ul{
    display: inline-flex;
    margin: 0;
}
.heading li{
    padding: 5px 10px 5px 5px;
}
.heading img{
    border: 1px #1b1b1b solid;
    height: 20px;
    margin: 5px;
    float:right;
}
.content{
    background-color: #5ccec7;
}
.content table{
    width: 100%;
}
.content th{
    border-style: solid;
    border-width: 1px;
    border-color: #7b8688;
    padding: 15px;
}
.article_head_category{
    cursor: pointer;
}
.li_title{
    background-color: #cc8739;
    /*position: relative;*/
    float: left;
    margin-right: 14px;
    margin-bottom: 19px;
    padding: 23px 6px 0 18px;
    width: 100px;
    height: 130px;
}
.li_default{
    /*position: relative;*/
    float: left;
    margin-right: 14px;
    margin-bottom: 19px;
    width: 120px;
    height: 153px;
}
.td_img img{
    width: 120px;
    height: 90px;
}
.td_desc{
    padding: 8px;
    font-size: 15px;
}
/*aside*/
.aside{
    background-color: royalblue;
    padding: 5px;
    width: 350px;
    margin:10px;
    /*height: 500px;*/
}
.login{
    background-color: #cc8739;
}
.login_btn{
    background-color: #008181;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.shopping{
    margin-top: 20px;
}
.shopping .li_default{
    background-color: #008181;
    width: 80px;
}
 .td_img_shop img{
    width: 80px;
    height: 80px;
}
 .td_desc_shop{
    padding: 8px;
    font-size: 13px;
}
/*footer*/
.footer{
    background-color: #7e7e7e;
    height: 150px;
    clear: both;
    padding: 15px 0 15px ;
    width: 100%;
    display: inline-flex;
}
