/*body*/
body{
    background-color:#ffffff;
}
/*header*/
.header{
    background-color: #e9ebee;
    display: block;
}
.logo{
    font-size:20px;
    padding:12px;
    /*height:100px;*/
}
details img{
    width: 5px;
    height: 5px;
}
.logo ul{
    display: inline-block;
    padding: 0;
    margin: 10px 0 0;
}
.logo li{
    display: inline;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
}
.banner{
    margin: 0;
    padding: 20px;
    height: auto;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-top: #7b8688 solid 1px;
    border-bottom: #7b8688 solid 1px;
}
.banner a{
    text-decoration: none;
    color: black;
}

/*nav*/
.nav{
    background-color: #e9ebee;
    float: left;
    height: 100%;
    width: 200px;
    border-right: #7b8688 solid 1px;
    margin-right: 20px;
    padding: 10px;
}
.nav img {
    width: 25px;
    height: 20px;
}
.nav details{
    margin-bottom: 8px;
}
.nav table{
    margin-bottom: 10px;
}

/*section_article*/
.section{
    background-color: #e9ebee;
    padding: 15px;
}
.article{
    margin:0;
}

.commercial_content{
    display:inline-block;
    margin:0;
    padding:0;
}
#commercial_ul{
    padding:0;
    font-size:10px;
}
#commercial_list{
    display:inline-flex;
    margin:0;
    padding:10px;
}
.music_video_box{
    margin: 10px;
}
#music_video{
    display:flex;
    overflow:scroll;
}
.new_arrival_list{
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    margin: 5px;
    cursor: pointer;
}
#music_list{
    display: flex;
    overflow: scroll;

}
.music_content{
    margin: 0;
    padding: 5px;
}
#left{
    cursor:pointer;
}
/*aside*/
/*footer*/
.footer{
    background-color: #e9ebee;
    margin-top: 5px;
    padding: 10px;
}
#footer_table li{
    display:inline-block;
    padding: 5px;
    cursor: pointer;
}
