/*header*/
.header{
    background-color: #81574f;
    display: block;
}
.logo{
    background-color:#7b8688;
    font-size:20px;
    padding:12px;
    /*height:100px;*/
}
details img{
    width: 5px;
    height: 5px;
}
.logo ul{
    display: block;
    padding: 0;
    margin: 10px 0 0;
}
.logo li{
    display: inline-flex;
    cursor: pointer;
    background-color: #008181;
    padding-right: 10px;
    padding-left: 10px;
}
.banner{
 background-color: #abcc8f;
    width: 100%;
}
.banner_content{
    width: 20%;
    margin: 0 auto;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/*nav*/
.nav{
    background-color: #cc8739;
    float: left;
    height: 100%;
    width: 200px;
}
/*section_article*/
.section{
    background-color: #008181;
}
.article{
}
.new_arrival_list{
    font-weight: bold;
    display: inline-flex;
    margin: 5px;
    cursor: pointer;
}
#music_list{
    display: flex;
    overflow-y: scroll;
}
.music_content{
    margin: 10px;
}
/*aside*/
/*footer*/