body{
    font-size: 15px;
    background-color: #dfe1e5;
    padding: 0;
    font-family: 함초롬바탕;
}
button{
    background-color: transparent;
    border: transparent;
}
 a{
    text-decoration: none;
     color: black;
}
 a:visited{color: black}
 ul{
     list-style: none;
 }
