@charset "utf-8"; body {-webkit-text-size-adjust:none}
/* BASIC */ html {margin:0; padding:0;}
body {height:100%;}
html {overflow-y:scroll;}
body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre
{margin:0; padding:0; -webkit-text-size-adjust:none;}
/* 아이폰 가로모드 글자 크기 확대 방지: -webkit-text-size-adjust:none; */
body, input, textarea, select, button {color:#1b1b1b; font-size:18px; }
/*header, footer, nav, aside {display:block;}*/
fieldset, img {border:0;}
img {-ms-interpolation-mode:bicubic !important; border:0;}
table {padding:0; border-spacing:0px; border:0; border-collapse:collapse;}
ul, ol {list-style:none;}
a {color:#585858; text-decoration:none;}
a:link {color:#606060; text-decoration:none;}
a:hover {color: #ffe7bb;}
.clear { clear:both; }

